Click==8.1.7
freezegun==1.4.0
lxml==5.1.0
packaging==23.2
pathspec==0.11.2
pyfakefs==5.3.5
pytest==8.0.0
pytest_mock==3.12.0
requests-mock==1.11.0
requests==2.31.0
testfixtures==7.2.2
xxhash==3.4.1
python-dateutil==2.8.2
